nav {
  width: 100%;
  background-color: darkgreen;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  color: whitesmoke;
  text-emphasis-style: none;
}

.title {
  width: 100%;
  background-size: cover;
  background-position: center;
}

main {
  background-image: url("./image/cookingtime.jpg");
  background-position: center;
  background-size: cover;
  background: no-repeat;
}

ul {
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: black;
  padding: 5px;
}

.charName {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.charImage {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.info {
  align-content: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: lavenderblush;
  background-image: url("./image/heisenbergBlue.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px;

}

