nav {
  width: 100%;
  background-image: url("./image/heisenburg1.png");
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  color: whitesmoke;
  text-emphasis-style: none;
}

.title {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  background-position: center;
  background-size: cover;
  background: no-repeat;
}

.list{
  background-image: url("./image/walterwhite2.jpg");
  background-position: center;
  background-size: contain;
  padding: 10px;
}

.names {
  display: flex;
  justify-content: space-around;
}

/* button {
  width: 100px;
} */

ul {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: whitesmoke;
  padding: 5px;
}

.charName {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.charImage {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.info {
  align-content: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: lavenderblush;
  background-image: url("./image/walterwhite.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px;
}

a {
  text-decoration: none;
}

.contain {
  background-image: url("./image/blueheisenburg.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px;
}

form input {
  display: block;
	width: 30%;
	height: 80px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.addChar{
  width: 30%;
  height: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: darkblue;
  color: antiquewhite;
}

.addChar:hover {
  cursor: pointer;
  background-color: darkred;
}

.deleteChar {
  width: 20%;
  height: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: red;
  color: aliceblue;
}
